.dishdetailLi{
    display: grid;
    margin-bottom: 20px;
    grid-template-columns:60% 10% 30%;

}
.dishdetailDiv{
    background-color: rgb(255, 255, 255);
    grid-column: 1/2;
}
.dishdetailForm{
    background-color: rgb(255, 255, 255);
    grid-column: 3/4;
    display: grid;
    align-items: center;
}
#heading3{
    margin-bottom: 5px;
    font-weight: bold;
}
#priceDiv{
    color: #fd6f02;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
}
#descDiv{
    font-size: 12px;
    justify-content: start;
    color: rgb(141, 140, 140);
}