.formMain{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 70% 30%;
}
.add{
    background-color: rgb(6, 189, 3);
    color: white;
}
.inputDiv{
    display: grid;
    justify-content: end;
    align-items: center;
}
.buttonDiv{
    display: grid;
    justify-content: end;
    align-items: center;
}