.foot{
    background-color: rgb(245, 245, 245);
    max-width: 100%;
}
.footerbox{
    padding-bottom: 50px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-rows: 2;
    grid-template-columns: 4;
    border-bottom: 2px solid rgba(173, 173, 173, 0.466);
}
#head1{
    grid-column: 1/5;
    background-color: rgb(245, 245, 245);
    color: #F57D1F;
    font-family: 'Rowdies', sans-serif;
    padding-bottom: 10px;
    padding-top: 10px;
}
#p1{
    grid-column: 1/2;
    background-color: rgb(245, 245, 245);
    display: grid;
}
#p2{
    grid-column: 2/3;
    background-color: rgb(245, 245, 245);
    display: grid;
    grid-template-rows: 20% 13%;
}
#p3{
    grid-column: 3/4;
    background-color: rgb(245, 245, 245);
    display: grid;
    grid-template-rows: 20% 13%;
}
#p4{
    grid-column: 4/5;
    background-color: rgb(245, 245, 245);
    display: grid;
    grid-template-rows: 20% 13% 13% 13%;
}

h5{
    font-family: 'Raleway', sans-serif;
    font-weight:bolder;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 15px;
}
ul{
    font-family: 'Raleway', sans-serif;
    padding-bottom: 5px;
}
.end{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20px;
    font-size: 12px;
    display: grid;
    justify-content: center;
    color: rgb(149, 149, 149);
}