#search{
    color: white;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: rgb(255, 255, 255);
    display: grid;
}
#inp{
    background-color: white;
    width: 90%;
    height: 60%;
    border-radius: 10px;
    padding-left: 10%;
    border: 0;
    align-self: center;
    justify-self: center;
    box-shadow: 0 2px 8px rgba(20, 20, 20, 0.115);
}